<br>
<br>
<br>


<div class="container mt-5">
    <h1 class="mt-4">Categorias</h1>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Informações</li>
    </ol>
    <div class="container">
        <form #loginForm="ngForm" (submit)="onSubmit()">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" *ngIf="msgSucesso == true">
                        Colaborador salvo(a) com sucesso!
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert" *ngIf="msgfalha == true">
                        Erro ao salvar o(a) colaborador!
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="small mb-1">Nome: </label>
                    <input type="text" class="form-control py-4" name="nome" [(ngModel)]="categoria.nome"
                        placeholder="Nome do Tipo" />
                </div>
                <div class="col-md-4">
                    <label class="small mb-1">Descrição:</label>
                    <input type="text" class="form-control py-4" name="descricao" autocomplete="off"
                        placeholder="Descreva o Tipo" [(ngModel)]="categoria.descricao" />
                </div>
            </div>
            <div class="row">
                <div class="form-group float-right mt-4 mt-0 ml-4">
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                </div>
                <div class="form-group d-flex justity-content-between mt-4 mt-0 ml-4">
                    <button class="btn btn-secondary" routerLink="/home">Voltar</button>
                </div>
            </div>

            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th (click)="sort('nome')">Nome da Categoria<span *ngIf="key =='nome'"> {{ reverse ?
                                        '▲' : '▼' }} </span></th>
                                <th (click)="sort('descricao')">Descrição<span *ngIf="key =='descricao'"> {{ reverse ?
                                        '▲' : '▼' }} </span></th>
                                <th (click)="sort('dataCriacao')">Data de criacao<span *ngIf="key =='dataCriacao'"> {{
                                        reverse ? '▲' : '▼' }} </span></th>
                                <th (click)="sort('dataAtualizacao')">Data de Atualização<span
                                        *ngIf="key =='dataAtualizacao'"> {{ reverse ? '▲' : '▼' }} </span></th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cate of categorias | orderBy: key : reverse; let i = index ">
                                <td>{{ cate.nome}}</td>
                                <td>{{ cate.descricao}}</td>
                                <td>{{ cate.dataCriacao | date : 'dd/MM/yyyy' }}</td>
                                <td>{{ cate.dataAtualizacao | date : 'dd/MM/yyyy' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        <i class="fa fa-trash"></i>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <br>
            <br>


        </form>

    </div>
</div>