<br id="target-element">
<br>
<br>
<div class="container mt-5 container-lancamento" id="target-element">

    <h3 class="mt-4">Lista de Gastos</h3>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Informações</li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="msgSucesso == true">
                    Lançamento salvo(a) com sucesso!
                </div>
            </div>
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" *ngIf="msgfalha == true">
                    Erro ao salvar o(a) Lançamento!
                </div>
            </div>
        </div>
        <div class="row justity-content-between">
            <div class="mr-4 ml-4">
                <button class="btn btn-primary" routerLink="/lancamentos">Lançar Gasto</button>
            </div>
            <div class="mr-5 ml-4">
                <button class="btn btn-success " routerLink="/lancamentos">Ver Gráficos</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th (click)="sort('dataHora')">Data<span *ngIf="key =='dataHora'"> {{ reverse ?
                                        '▲' : '▼' }} </span></th>
                                <th (click)="sort('descricao')">Descrição<span *ngIf="key =='descricao'"> {{ reverse ?
                                        '▲' : '▼' }} </span></th>
                                <th (click)="sort('valor')">Valor<span *ngIf="key =='valor'"> {{
                                        reverse ? '▲' : '▼' }} </span></th>
                                <th (click)="sort('qtdParcela')">Parcelas<span *ngIf="key =='qtdParcela'"> {{
                                        reverse ? '▲' : '▼' }} </span></th>
                                <th (click)="sort('despesaFixa')">Fixo<span *ngIf="key =='despesaFixa'"> {{
                                        reverse ? '▲' : '▼' }} </span></th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lancamento of lancamentos | orderBy: key : reverse; let i = index ">
                                <td>{{ lancamento.dataHora | date : 'dd/MM HH:mm:ss'}}</td>
                                <td>{{ lancamento.descricao}}</td>
                                <td>{{ formataValor(lancamento.valor) }}</td>
                                <td>{{ lancamento.qtdParcela}}</td>
                                <td>{{ lancamento.despesaFixa ? 'Sim' : 'Não' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        <i class="fa fa-trash"></i>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>